# Ignora las rutas especificas

*.properties

### Java template
*.class
.metadata
local.properties
.settings/

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# Package Files #
*.jar
*.war
*.ear


# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
